{% extends "bootstrap/layout.html" %}


{% block body %}
<div>
	<table class="center">
		<tr class="center" style = "font-size:23px;">
			<th class="teal-shadow"> Date </th>
			<th class="teal-shadow"> Total Time <br/><p style="font-size: 15px;margin-left:3px;">(25 min/int)</p> </th>
			<th class="teal-shadow">Resources</th>
			<th class="teal-shadow"> What you completed </th>
		</tr>
		<tr style = "font-size:15px;">
			<td class="table-date-text"> Feb 25 </td>
			<td class="table-intervals"> 2 intervals </td>
			<td class="table-time-text"> Upskill Web Development: </td>
			<td class="table-blue-text"> First 10 videos </td>
		</tr>
		<tr style = "font-size:15px;">
			<td class="table-date-text"> March 1 </td>
			<td class="table-intervals"> 9 intervals </td>
			<td class="table-time-text"> Upskill Web Development: </td>
			<td class="table-blue-text"> Videos </td>
		</tr>
		<tr style = "font-size:15px;">
			<td class="table-date-text"> March 2 </td>
			<td class="table-course-text"> 1 interval </td>
			<td class="table-time-text"> interval Upskill Web Development </td>
			<td class="table-blue-text"> Couple videos </td>
		</tr>
		<tr style = "font-size:15px;">
			<td class="table-date-text"> March 3 </td>
			<td class="table-course-text"> 180 minutes; 7 intervals  </td>
			<td class="table-time-text"> Upskill Web Development:</br> CSS </td>
			<td class="table-blue-text"> Started Website </td>
		</tr>
		<tr style = "font-size:15px;">
			<td class="table-date-text"> March 4 </td>
			<td class="table-course-text"> 324 minutes; 13 intervals </td>
			<td class="table-time-text"> Upskill Web Development:</br> Building Startup </td>
			<td class="table-blue-text"> Cloud9; Ruby on Rails </td>
		</tr>
		<tr style = "font-size:15px;">
			<td class="table-date-text"> March 5 </td>
			<td class="table-course-text"> 175 minutes; 7 intervals </td>
			<td class="table-time-text"> ree Code Camp: </br> CSS  </td> 
			<td class="table-blue-text"> Completed Basic CSS Section! :D </br> Edited Website (legitimately spent </br> 1 hour on choosing these colors) </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 6 </td>
		  <td class="table-course-text"> 212.5 minutes; 8.5 intervals </td>
		  <td class="table-time-text"> Completed Free Code Camp: </br> Applied Visual Design </td>
		  <td class="table-blue-text"> Edited website: Contact Form and Font-Design <br/> Began animation  </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 7 </td>
		  <td class="table-course-text"> 8 intervals </td>
		  <td class="table-time-text">Completed Free Code Camp: </br>
		                                 Responsive Web Design Principles </br>
		                                 CSS Flexbox</td>
		  <td class="table-blue-text">Edited the Colors on the website. <br> fuck. I need to stop doing that. <br> I also need to stop spending two hours choosing colors everyday. <br> Fuck. </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 8 </td>
		  <td class="table-course-text"> 8 Intervals </td>
		  <td class="table-time-text"> Work on Free Code Camp: </br> Grids </td>
		  <td class="table-blue-text"> Started Beginning 2 page. Finally got the grids down. <br> Completed Free Code Camp: <br> First Certificate </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 9 </td>
		  <td class="table-course-text"> 10 intervals so far </td>
		  <td class="table-time-text"> Watched 25 minutes of Harvard CS50 <br> Started Javascript on Upcourse  </td>
		  <td class="table-blue-text">Didn't do too much on website; <br> learned Javascript</td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 10 </td>
		  <td class="table-course-text"> 13 intervals </td>
		  <td class="table-time-text"> Practiced javascript on Codeacademy <br> Did some reddit reading on programming</td>
		  <td class="table-blue-text"> Thinking about what active learning may look like <br> instead of constantly learning new skills, <br> 
		  think about how you can improve your current ones </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 11 </td>
		  <td class="table-course-text"> 11 intervals  </td>
		  <td class="table-time-text"> Upskill - Rewatching how to make forms  </td>
		  <td class="table-blue-text"> Need to make sure I watch the videos closely <br> makes me sad. </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 12 </td>
		  <td class="table-course-text"> 10 intervals </td>
		  <td class="table-time-text"> Upskill: Tried to figure out the contact form problem</td>
		  <td class="table-blue-text"> I'm a little frustrated... How do I solve problems? </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 13-18 </td>
		  <td class="table-course-text"> A million intervals. </td>
		  <td class="table-time-text"> This was mostly for my dad.  <br>  Made own website (but through weebly.com) </td>
		  <td class="table-blue-text"> www.kamcheungaplus.com </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 19 </td>
		  <td class="table-course-text"> 4 intervals  </td>
		  <td class="table-time-text"> http://moocfi.github.io (starting Java!)  </td>
		  <td class="table-blue-text"> Starting Java (after having a conversation with friend about it) </br> </td>
		</tr>

		<tr>
		  <td class="table-date-text"> March 20 </td>
		  <td class="table-course-text"> 8 intervals </td>
		  <td class="table-time-text"> Solved 19 problems </td>
		  <td class="table-blue-text"> Continued on moocfi; thinking about setting a limit on how much I work <br> in case of burn out </td>
		</tr>
		<tr>
		  <td class="table-date-text"> Last week of March </td>
		  <td class="table-course-text"> A fucking million intervals </td>
		  <td class="table-time-text"> Made dad's website </td>
		  <td class="table-blue-text"></td>
		</tr>

		<tr>
		  <td class="table-date-text"> March 31 </td>
		  <td class="table-course-text"> 7 intervals </td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 1 </td>
		  <td class="table-course-text"> 7 intervals  </td>
		  <td class="table-time-text"> Finished Week 1 on Mooc.fi </td>
		  <td class="table-blue-text"> Thinking about starting a fun project related to Mooc.fi </td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 2 </td>
		  <td class="table-course-text"> 2 intervals </td>
		  <td class="table-time-text"> Finished Week 2 on Mooc.fi </td>
		  <td class="table-blue-text"> Dinner with dad. </td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 3 </td>
		  <td class="table-course-text"> 5 intervals </td>
		  <td class="table-time-text"> Finished Week 3 on MOoc.fi  </td>
		  <td class="table-blue-text"> Worked on dad's website (starting Mazen) <br> A lot of coding is actually really difficult to understand and learn. <br> Wonder how I can make that an easier process. </td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 4 </td>
		  <td class="table-course-text"> 8 Intervals </td>
		  <td class="table-time-text"> Learned about SQL <br> I think the reason why this can be frustrating is that there are no quizzes <br> And there is no set curriculum for you. <br> I wonder if I should make a checklist. 
		    <br> 
		    <ol>
		      <li>Define Problem: Building a website to sell glasses</li>
		      <li>Research the issue: I think ultimately, I know that building my own website is key <br> You get to control user experience, and there is more flexibility. </li>
		      <li>Brainstorm Solutions: Perhaps to plan out and strategize what I need to learn <br> What are my first goals? <br> I think it is to first create a website and run it independently </li>
		      <li>Choose the best solution: Use Ruby on Rails and learn everything about Ruby <br> We can learn about other programming languages later. </li>
		      <li>Build the model: More practically, I think this means building the curriculum. <br> So there is the actual programming: Ruby on Rails. <br> There is also the designing of the first shitty draft: Illustrator and Photoshop <br> Then there is the database piece - SQL <br> There is also the API piece (interacting with different objects) </li>
		    </ol>
		  
		    </td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 6 </td>
		  <td class="table-course-text"> 1 interval </td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 8 </td>
		  <td class="table-course-text"> 5 intervals </td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 9 </td>
		  <td class="table-course-text"> 3 intervals </td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 10 </td>
		  <td class="table-course-text"> 11 intervals </td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text">April 11 </td>
		  <td class="table-course-text"> 3 intervals </td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 12 </td>
		  <td class="table-course-text"> 5 intervals </td> 
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 14 </td>
		  <td class="table-course-text"> 3 intervals </td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 15</td>
		  <td class="table-course-text"> 13 intervals </td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 16 </td>
		  <td class="table-course-text"> 10 intervals </td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 17 </td>
		  <td class="table-course-text"> 8 intervals </td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 18</td>
		  <td class="table-course-text"> 4 intervals </td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 19 </td>
		  <td class="table-course-text"> 10 intervals </td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 20 </td>
		  <td class="table-course-text"> 7 intervals </td>
		  <td class="table-time-text"> https://mdbootstrap.com </td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> April 21 </td>
		  <td class="table-course-text"> 20 intervals </td>
		  <td class="table-time-text"> FINALLY GOT THE WEB UP AGAIN!! </td>
		  <td class="table-blue-text"> I'm so happy. Focus on solving problems, rather than <br> create new ones. </td>
		</tr>
		<tr>
      <td class="table-date-text"> April 22 </td>
      <td class="table-course-text"> 14 intervals </td>
      <td class="table-time-text"> Time passes by really fast when I'm working on the website. </td>
      <td class="table-blue-text"> Learned: Make sure you read the documentation (e.g., exploreflask.com) <br>
      concerned that I don't have practical goals, which may stagnate progress. </td>
    </tr>
    <tr>
      <td class="table-date-text"> April 23 </td>
      <td class="table-course-text"> 15 intervals </td>
      <td class="table-time-text"> CS50: SQL Course <br> Make sure that you kind of stay focused (TURN OFF INTERNET!) <br> Seriously realized that I need to take the online courses! <br> Watching the videos REALLY help. </td>
      <td class="table-blue-text"></td>
    </tr>
    <tr>
      <td class="table-date-text"> April 24 </td>
      <td class="table-intervals"></td>
      <td class="table-resources"></td>
      <td class="table-completed"></td>
    </tr>
    <tr>
      <td class="table-date-text"> April 25</td>
      <td class="table-course-text"> 15 intervals </td>
      <td class="table-time-text"> <a href="http://www.blog.pythonlibrary.org/2012/06/04/wxpython-and-sqlalchemy-loading-random-sqlite-databases-for-viewing/"> On Sqlite databases</a> <br> <a href="http://python101.pythonlibrary.org/part_i.html"> FREE GUIDE ON PYTHON!! </a> <br> <a href="https://docs.sqlalchemy.org/en/13/orm/tutorial.html"> Sql Documentation </a> </td>
      <td class="table-blue-text">Spent SO MUCH time googling how to do the SQL thingy <br> It's annoying, because the directions aren't very clear. <br> On some level, I think it's because I'm not sure how to debug (and don't understand the basics) <br> 
      I wonder how Steve Wozniak did it.</td>
    </tr>
    <tr>
      <td class="table-date-text"> April 24 </td>
      <td class="table-intervals"></td>
      <td class="table-resources"></td>
      <td class="table-completed"></td>
    </tr>
    <tr>
      <td class="table-date-text"> </td>
      <td class="table-intervals"></td>
      <td class="table-resources"></td>
      <td class="table-completed"></td>
    </tr>
    <tr>
      <td class="table-date-text"> </td>
      <td class="table-intervals"></td>
      <td class="table-resources"></td>
      <td class="table-completed"></td>
    </tr>
    <tr>
      <td class="table-date-text"> </td>
      <td class="table-intervals"></td>
      <td class="table-resources"></td>
      <td class="table-completed"></td>
    </tr>
    <tr>
      <td class="table-date-text"> </td>
      <td class="table-intervals"></td>
      <td class="table-resources"></td>
      <td class="table-completed"></td>
    </tr>
	</table>
</div>  
  
  
{% endblock %}
