{% extends "bootstrap/layout.html" %}


{% block body %}
<div>
<h1>Please work</h1>
      <div class='container'>
      <div class='row'>
      <div class='col'>
        <p>hi</p>
      </div>
      </div>
      </div>  
</div>
    <div class="reflectionlist">
      <p class="whiteredshadow"> What you do well: </p>
        <dl class="reflectiondescription dl-horizontal">
          <dt>Routine</dt>
          <dd>Work on CS <mark>e-v-e-r-y-d-a-y!</mark></dd>
          <dt>Practice</dt>
          <dd>Practice the right skills; building applications are key</dd>
          <dt>Notes</dt>
          <dd>Be sure to take notes while watching videos</dd>
          <dt>Teachers</dt>
          <dd>Find the right style for you! </dd>
          <dt>FOCUS on watching the videos (CS50) <br> Follow along, and change the examples to adjust to your site </dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
        </dl>
    </div>
<br>
<div class="reflectionlist">
    <h2 class="reflectionheader"> There are many things YOU SHOULD NOT DO: </h2>
    <dl class="reflectiondescription dl-horizontal">
          <dt>Not Colors!</dt>
          <dd>Do not get <mark>fixated</mark> on choosing the right color!</dd>
          <dt>Chill</dt>
          <dd>Avoid Work and Interpersonal Conflicts!</dd>
          <dt>No Work</dt>
          <dd>Don't do any work at home</dd>
          <dt>2 Windows</dt>
          <dd>Only have the coding and tutorial window open! </dd>
          <dt>Think simply - it's easy to down a rabbit hole but focus on what the initial problem was!! </dt>
          <dd>DON'T GO ON WEB WHILE LEARNING. </dd>
          <dt></dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
        </dl>
    </div>  
{% endblock %}
