{% extends "bootstrap/layout.html" %}


{% block body %}
<div>
<h1>Please work</h1>
      <div class='container'>
      <div class='row'>
      <div class='col'>
        <p>hi</p>
      </div>
      </div>
      </div>  
</div>
    <div class="reflectionlist">
      <p class="whiteredshadow"> What you do well: </p>
        <dl class="reflectiondescription dl-horizontal">
          <dt>Routine</dt>
          <dd>Work on CS <mark>e-v-e-r-y-d-a-y!</mark></dd>
          <dt>Practice</dt>
          <dd>Practice the right skills; building applications are key</dd>
          <dt>Notes</dt>
          <dd>Be sure to take notes while watching videos</dd>
          <dt>Teachers</dt>
          <dd>Find the right style for you! </dd>
          <dt>FOCUS on watching the videos (CS50) <br> Follow along, and change the examples to adjust to your site </dt>
          <dd>Attending the general assembly class was really cool - committing to a 30 day project / challenge </dd>
          <dt>Reading the documentation of original programs (more accurate) </dt>
          <dd>Watching youtube videos REALLY help </dd>
          <dt>Writing down, on the whiteboard, what you want to accomplish that day</dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
        </dl>
    </div>
<br>
<div class="reflectionlist">
    <h2 class="reflectionheader"> There are many things YOU SHOULD NOT DO: </h2>
    <dl class="reflectiondescription dl-horizontal">
          <dt>Not Colors!</dt>
          <dd>Do not get <mark>fixated</mark> on choosing the right color!</dd>
          <dt>Chill</dt>
          <dd>Avoid Work and Interpersonal Conflicts!</dd>
          <dt>No Work</dt>
          <dd>Don't do any work at home</dd>
          <dt>2 Windows</dt>
          <dd>Only have the coding and tutorial window open! </dd>
          <dt>Think simply - it's easy to down a rabbit hole but focus on what the initial problem was!! </dt>
          <dd>DON'T GO ON WEB WHILE LEARNING. </dd>
          <dt></dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
        </dl>
    </div>  


    <div>
      <h1 class="text-center whiteredshadow">Coding for normal fucking humans</h1>
      <table class="text-center center">
        <th class="dictHeader">Word Definitions</th>
        <th class="dictHeader">Definition</th>
        <th class="dictHeader">Why it's important</th>
        <th class="dictHeader"></td>
          <tr>
            <td>Git</td>
            <td>You may be working on a computer; github is the "remote" repository. You can then download <br>
              Upload changes on remote (or github) - it can be in any location  <br>
              Remote can be on another computer, even. <br> 
              <br> Making a duplicate means remote, honestly. 
              To pull something off of git: 
              git clone (insert url) 
              <br>
              git config --local user.name "(insert name)"
              <br>
              git config --local user.email "(insert email)"

              <br>
              git remote -v (to see the remotes you have)
              <br>
              git pull (remote) (branch)
              <br>
              git remote add (url of your github)
              <br> 
              git commit -m "Comment about what changes you made"
              <br>
              git status - see what the fuck is going on 
              <br>
              1. git checkout (branch)
              2. git merge (branch that you made)
              <br>
              git push (remote) (branch)

            </td>
            <td>Save changes and make sure you can go back to other versions <br> (just in case you fuck up big time)</td>
        </tr>
        <tr>
          <td>Git branches</td>
            <td>git branch (branch name) - creating new branch <br> git checkout (new branch) - going to the new branch <br>
              git commit -m "created new branch" - need to fucking save that shit <br> git checkout -b feature/new-feature (reference off the develop branch) 
              <br> git checkout feature/new-feature <br> git commit -m "done" <br> git checkout develop <br> </td>
              <td>You can say, developer a, work on this branch. Developer b: work on this branch. <br> ALL  CHANGES ARE FUCKING ISOLATED, MAN!! </td>
        </tr>
        <tr>
          <td class="dictWord"></td>
          <td class="dictDef"></td>
          <td class="dictCommands"></td>
          <td class="dictMatters"></td>
        </tr>
      </table>
    </div>

    <div>
      <h1 class="text-center whiteredshadow">Data (or, collecting information from random people and saving that shit)</h1>
      <table class="text-center center">
        <th class="dictHeader">Word Definitions</th>
        <th class="dictHeader">Definition</th>
        <th class="dictHeader">Commands</th>
        <th class="dictHeader">Why it's important</td>
           <tr>
      <td class="table-date-text">Reading Documentation  </td>
      <td class="table-intervals">1. Start here <br> 2. Reference Guide <br> 3. Tutorials <br> Suppose that you test the function and find that it does not work. So you need to fix it. <br> But during the process of fixing it, you have nothing but your memory telling you want the function is supposed to do. <br> It is difficult to keep that in your head along with the details of how the function is supposed to work, <br> and the process of fixing a function definition takes the function further away from its original intent. Learning/Understanding </td>
      <td class="table-resources">Sound advice: <br> 1. Use the guided tour <br> 2. Look for samples <br> What product does <br> https://github.com/jasonzissman/TimeMe.js </td>
      <td class="table-completed"></td>
    </tr>
       <tr>
      <td class="table-date-text"> </td>
      <td class="table-intervals"></td>
      <td class="table-resources"></td>
      <td class="table-completed"></td>
    </tr>
       <tr>
      <td class="table-date-text"> </td>
      <td class="table-intervals"></td>
      <td class="table-resources"></td>
      <td class="table-completed"></td>
    </tr>

      </table>
    </div>
{% endblock %}
