{% extends "layout.html" %}

{% block heading %}
Home
{% endblock %}

{% block body %}

  <section class="hero" id="hero">
    <h2 class="hero_header"><br>ever lose your<span class="light"> glasses?</span></h2>
    <p class="tagline">Now, you'll never lose them again. </p>
  </section>
  <!-- About Section -->
  <section class="about" id="about">
    <h2 class="hidden">About</h2>
  </section>
  <!-- Stats Gallery Section -->
  <div class="gallery">
    <div class="thumbnail">
      <h1 class="stats">1500</h1>
      <h4>TITLE</h4>
      <p>One line description</p>
    </div>
    <div class="thumbnail">
      <h1 class="stats">2300</h1>
      <h4>TITLE</h4>
      <p>One line description</p>
    </div>
    <div class="thumbnail">
      <h1 class="stats">7500</h1>
      <h4>TITLE</h4>
      <p>One line description</p>
    </div>
    <div class="thumbnail">
      <h1 class="stats">9870</h1>
      <h4>TITLE</h4>
      <p>One line description</p>
    </div>
  </div>
  <!-- Parallax Section -->
  <section class="banner">
    <h2 class="parallax">Find them glasses</h2>
    <p class="parallax_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  </section>

{% endblock %}